---
interface Props {
  title?: string;
}

const { title = "" } = Astro.props;
---

<div class="bg-[#f5f5f5] border-l-4 border-[#3273dc] p-2.5">
  {title && <p class="font-bold">{title}</p>}
  <div class="text-base">
    <slot />
  </div>
</div>